{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row index-title__wrapper">
        <div class="col-12 mt-auto">
            <img class="mx-auto d-block" alt="Yggdrasil">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 text-center">
            <h1>Transhuman Solutions</h1>
        </div>
        <div class="col-12 col-md-4 offset-md-2 text-center">
            <button class="btn button-primary mb-4">news</button>
        </div>
        <div class="col-12 col-md-4 text-center">
            <button class="btn button-secondary-outline">our services</button>
        </div>
    </div>

{% endblock content %}
