{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row index-title__wrapper">
	<div class="col-12 mt-auto">
		<img class="mx-auto d-block" alt="Yggdrasil">
	</div>
</div>
<div class="row mt-4">
	<div class="col-12 text-center">
		<h1>Transhuman Solutions</h1>
	</div>
	<div class="col-8 offset-2 col-sm-4 text-center">
		<button class="btn button-primary button__large mb-4">news</button>
	</div>
	<div class="col-8 offset-2 col-sm-4 offset-sm-0 text-center">
		<button class="btn button-secondary-outline button__large">Products</button>
	</div>
</div>

{% endblock content %}
