.StripeElement {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 0;
  border-radius: 0;
  background-color: $white;
  box-shadow: $box-shadow-black;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: $box-shadow-black;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
