.body-index {
  background: url('/static/images/background.jpg') no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.index-main__wrapper {
  padding: 15vh 15px 0;
  min-height: 85vh;
}

.index-title__wrapper {
  img {
    content: url('/static/images/mobile/index-title.png');

    @include breakpoint(lg) {
      content: url('/static/images/desktop/index-title.png');
    }
  }
}

.index-featured {
  img {
    max-width: 80%;

    @include breakpoint(sm) {
      max-width: 100%;
    }
  }
}

.index-social-proof {
  min-height: 80px;

  span {
    color: $tertiary-color;
  }
}

.index-social-links {
  i {
    font-size: 4rem;
  }
}
