.body-index {
  background: url('/static/images/background.jpg') no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.index-title__wrapper {
  height: 50vh;

  img {
    content: url('/static/images/mobile/index-title.png');

    @include breakpoint(lg) {
      content: url('/static/images/desktop/index-title.png');
    }
  }
}
