.body-index {
  background: url('/media/images/background.jpg') no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.index-title-img {
  content: url('/media/images/mobile/index-title.png');
  @include breakpoint(lg) {
    content: url('/media/images/desktop/index-title.png');
  }
}
