.product-main_wrapper {
  padding: 13vh 7vw 0;
  min-height: 92vh;

  @include breakpoint(sm) {
    padding: 13vh 15vw 0;
  }

  @include breakpoint(md) {
    padding: 13vh 3vw 0;
  }

  @include breakpoint(lg) {
    padding: 18vh 3vw 0;
  }
}

.product-filter {
  margin: 0 auto;

  .col-3 {
    margin: 0 .7rem 0 0;
    padding: 0;

    @include breakpoint(md) {
      margin: 0 2rem 0 0;
    }
  }
}

.product-filter-button {
  width: 100%;
  height: 30px;
  font-size: 1.4rem;
  color: $white;
  border: 1px solid $white;

  &:active,
  &:focus {
    color: $white;
    background: transparent;
    border: 1px solid $white;
  }

  &:hover {
    color: $white;
  }
}

.js-product-filter-button__active {
  color: $black !important;
  background: $white !important;

  &:hover {
    color: $black !important;
  }
}

#clearFilter {
  font-size: 3.2rem;
}

.product-card {
  height: 100%;

  @include breakpoint(xs) {
    max-width: 80%;
  }

  @include breakpoint(md) {
    max-width: 100%;
  }

  .card-body {
    height: 4rem;
    padding: 1rem 1.5rem;
  }
}

.product-card-img {
  @include breakpoint(md) {
    width: 75%;
  }

  @include breakpoint(lg) {
    width: 100%;
  }
}

.product-card__title {
  font-weight: 500;
}

.product-details-display-box {
  @include displayBox;
  height: 160px;

  p {
    &:first-child {
      font-size: 2rem;
    }
  }
}

.review-body__shadow {
  border-radius: 0.25rem;
  box-shadow: $box-shadow-black;
}

.review-form__wrapper {

  form {
    width: 100%;
  }

  a {
    color: $white;
  }
}

.review-form-textarea {

  &:disabled {
    background-color: $lightgrey;
    color: $white;
    font-style: italic;
    resize: none;
  }
}
