.product-filter {
  margin: 0 auto;

  .col-3 {
    margin: 0 .7rem 0 0;
    padding: 0;

    @include breakpoint(md) {
      margin: 0 2rem 0 0;
    }
  }
}

.product-filter-button {
  width: 100%;
  height: 30px;
  font-size: 1.4rem;
  color: $white;
  border: 1px solid $white;

  &:active,
  &:focus {
    color: $black;
    background: $white;
    border: 1px solid $white;
  }

  &:hover {
    color: $white;
  }
}

.js-product-filter-button__active {
  color: $black;
  background: $white;

  &:hover {
    color: $black;
  }
}

#clearFilter {
  font-size: 3.2rem;
}

.product-details-specs__box {
  text-align: right;
  border: 1px solid $primary-color;
  padding: 1rem;
  margin-top: auto;
  margin-bottom: auto;
  box-shadow: $box-shadow-black;
  height: 100px;

  p {
    &:first-child {
      font-size: 2rem;
    }
  }
}

.review-body__shadow {
  border-radius: 0.25rem;
  box-shadow: $box-shadow-black;
}

.review-form__wrapper {

  >form {
    width: 100%;
  }

  label {
    display: none;
  }

  a {
    color: $white;
  }
}

.review-form-textarea {

  &:disabled {
    background-color: $lightgrey;
    color: $white;
    font-style: italic;
    resize: none;
  }
}
