{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="card">
	<div class="card-header">
		<h3>Shopping Cart</h3>
	</div>
	<div class="card-body">
		{% for item in cart_items %}
		<div class="row mb-4 border-bottom border-dark">
			<div class="col-12 col-lg-6 mb-3">
				<a href="{% url 'product_detail' item.product.id %}"><img src="{{ item.product.image_url }}" alt=""
						class="img-fluid"></a>
			</div>
			<div class="col-7 d-lg-none">
				<h4>{{ item.product.name }}</h4>
			</div>
			<div class="col-5 d-lg-none text-right">
				<h4>{{ item.product.category|capfirst }}</h4>
			</div>
			<div class="col-lg-4 offset-1 d-none d-lg-block cart-specs__box">
				<h4>{{ item.product.name }}</h4>
				<h4>{{ item.product.category|capfirst }}</h4>
				<p>${{ item.product.price }}</p>
				<p class="mt-3"><a href="{% url 'remove_from_cart' item.product.id %}" class="warning-color">Remove from
						cart</a></p>
			</div>
			<div class="col-7 d-lg-none text-lg-right mt-3 mt-lg-0">
				<a href="{% url 'remove_from_cart' item.product.id %}" class="warning-color">Remove from cart</a>
			</div>
			<div class="col-5 d-lg-none text-right mt-3">
				<p>${{ item.product.price }}</p>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock content %}
