<div class="modal fade" id="deleteReviewConfirm" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body text-center">
				<p>Are you sure you want to delete your review?</p>
			</div>
			<div class="row mb-3">
				<div class="col-5 offset-1 text-right">
					<button type="button" class="btn button-primary-outline button__small"
						data-dismiss="modal">Cancel</button>
				</div>
				<div class="col-5 text-left">
					<a href="{% url 'delete_review' product.id %}"
						class="btn button-secondary-outline button__small">Delete</a>
				</div>
			</div>

		</div>
	</div>
</div>
