{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="profile__wrapper position-relative">
	<div class="card">
		<div class="card-header profiles-card-header position-absolute w-100">
			{% include 'profiles/components/navbar.html' %}
		</div>
		<div class="card-body">
			<div class="profile-section__wrapper" id="profilePersonalInfo">
				{% include 'profiles/components/personal-info.html' %}
			</div>
			<div class="profile-section__wrapper d-none" id="profileTechSupport">
				{% include 'profiles/components/tech-support.html' %}
			</div>
			<div class="profile-section__wrapper d-none" id="profileBookings">
				{% include 'profiles/components/bookings.html' %}
			</div>
			<div class="profile-section__wrapper d-none" id="profileOrderHistory">
				{% include 'profiles/components/order-history.html' %}
			</div>
		</div>
	</div>
</div>
{% endblock content %}
{% block extra_scripts %}
<script src="{% static 'profiles/js/scripts.js' %}"></script>
{% endblock extra_scripts %}
