html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  font-size: 1.6rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  color: $white;
  background-color: $darkgrey;
}

button {
  outline: none !important;
  box-shadow: none !important;
  border: none;
}

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
}

a {
  color: $primary-color !important;
  &:hover {
    color: darken($primary-color, 10%) !important;
  }
}

.btn {
  border-radius: 0 !important;
}
