html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  color: $white;
  background-color: $darkgrey;

  @include breakpoint(md) {
    font-size: 1.8rem;
  }
}

button {
  outline: none !important;
  box-shadow: $box-shadow-black;
  border: none;

  &>a {
    color: $white !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
}

a {
  color: $primary-color;

  &:hover {
    color: darken($primary-color, 10%) !important;
    text-decoration: none;
  }

  &:not([href]) {
    color: $primary-color;
  }
}

.btn {
  border-radius: 0 !important;
}
