.bg-grey-alpha-half {
  background-color: $grey-alpha-half;
}

.bgc-light {
  background-color: $lightgrey;
}

.bgc-grey {
  background-color: $grey;
}

.warning-color {
  color: $warning-color;
}

.warning-bg {
  background: $warning-color;
}

.warning-border {
  border: 1px solid $warning-color;
}

.error-color {
  color: $error-color;
}

.error-bg {
  background: $error-color;
}

.error-border {
  border: 1px solid $error-color;
}

.success-color {
  color: $success-color;
}

.success-bg {
  background: $success-color;
}

.success-border {
  border: 1px solid $success-color;
}

.info-color {
  color: $info-color
}

.info-bg {
  background: $info-color
}

.info-border {
  border: 1px solid $info-color;
}

.border-bottom-after::after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 90%;
  padding-top: 1rem;
  border-bottom: 1px solid $primary-color;
}

.icon-size {
  font-size: 3.5rem;
}
