<nav class="navbar navbar-expand-lg">
	<p class="profiles-card-title">Personal info</p>
	<button class="navbar-toggler mt-auto" type="button" data-toggle="collapse" data-target="#dashboardNavbarToggler"
		aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
		<i class="fas fa-ellipsis-v"></i>
	</button>
	<div class="collapse navbar-collapse flex-row-reverse" id="dashboardNavbarToggler">
		<ul class="navbar-nav text-uppercase">
			<li class="nav-item">
				<a class="nav-link nav-link-active" href="#">Personal info</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Tech support</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Bookings</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Order History</a>
			</li>
		</ul>
	</div>
</nav>
