<div class="row">
	<div class="col-12 col-lg-8 offset-lg-2">
		{% if orders|length == 0 %}
		<p>You have no order history.</p>
		{% else %}
		<div class="text-right border-dark p-2 mb-3 border">
			<ul>
				{% for order in orders %}
				<p>#{{ order.order_number}}</p>
				<p>Ordered on {{ order.date }}</p>
				<div class="border-top border-bottom border-dark py-1">
					{% for item in order.lineitems.all %}
					<p>{{ item.product }} - ${{ item.total }}</p>
					{% endfor %}
				</div>
				<div class="border-bottom border-dark">
					<p><strong>Total</strong></p>
					<p><strong>${{ order.total_price }}</strong></p>
				</div>
				<div class="mt-2 mb-4 pb-3 {% if order.length > 1 %}border-bottom border-dark{% endif %}">
					<a href="{% url 'order_details' order %}"
						class="btn button-secondary-outline button__small my-1">Full Details</a>
				</div>
				{% endfor %}
			</ul>

		</div>

		{% endif %}
	</div>
</div>
