{% if profile.is_client %}
<div class="row mb-4">
	<div class="col-12 col-lg-8 offset-lg-2">
		<h4 class="mb-4">Specifications</h4>
	</div>
	<div class="col-12 col-lg-8 offset-lg-2 mb-3">
		<h5 class="mb-2">Personal Key</h5>
		<p>{{ profile.personal_key }}</p>
	</div>
</div>
<div class="row">
	<div class="col-12 col-lg-8 offset-lg-2">
		<h4 class="mb-4">Contact Support</h4>
		<form method="POST" id="tech-support-form">
			{% csrf_token %}
			{{ form_tech|crispy }}
			<button class="btn button-primary-outline button__small col-6 float-right" name="{{ form_tech.prefix }}"
				type="submit">Submit</button>
			<div class="">
				{% if form.errors %}
				{% for field in form %}
				{% for error in field.errors %}
				<div class="alert alert-danger">
					<strong>{{ error|escape }}</strong>
				</div>
				{% endfor %}
				{% endfor %}
				{% for error in form.non_field_errors %}
				<div class="alert alert-danger">
					<strong>{{ error|escape }}</strong>
				</div>
				{% endfor %}
				{% endif %}
			</div>
		</form>
	</div>
</div>

{% else %}
<div class="row">
	<div class="col-12 col-lg-8 offset-lg-2">
		<p>You must have purchased one of our products to recieve tech support. Check out the <a
				href="{% url 'products' %}">products</a> page to make a selection.</p>
	</div>
</div>
{% endif %}
