{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="container-fliud main__wrapper">
	<div class="card">
		<div class="card-header">
			<h3>Checkout</h3>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-12 col-lg-6 order-lg-last mt-lg-5">
					<div class="border-dark p-2 mb-3 border">
						<h5>Cart summary</h5>
						<table class="w-100 mt-3">
							{% for item in cart_items %}
							<tr>
								<td>{{ item.product.name }}</td>
								<td>${{ item.product.price }}</td>
							</tr>
							{% endfor %}
							<tr class="border-top border-dark">
								<td><strong>Total</strong></td>
								<td><strong>${{ cart_total }}</strong></td>
							</tr>
						</table>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<form action="{% url 'checkout' %}" method="POST" id="paymentForm">
						{% csrf_token %}
						<fieldset>
							<legend>Personal Details</legend>
							{{ form|crispy }}
							<div class="form-check form-check-inline float-right mr-0">
								<label class="form-check-label" for="saveInfo">Save info to my profile</label>
								<input class="form-check-input ml-2 mr-0" type="checkbox" id="saveInfo" name="saveInfo" checked>
							</div>
						</fieldset>
						<fieldset class="mt-4">
							<legend>Payment Info</legend>
							<div class="row">
								<div class="col-12 mb-2">
									<div id="cardElement"></div>
								</div>
								<div class="col-12">
									<div id="cardErrors" role="alert"></div>
								</div>
							</div>
							<input type="hidden" name="client_secret" value="{{  client_secret }}">
						</fieldset>
						<div class="row mt-4">
							<div class="col-4">
								<a href="{% url 'view_cart' %}" class="btn button-primary-outline"><i class="fas fa-angle-double-left"></i></a>
							</div>
							<div class="col-8 text-right">
								<button class="btn button-secondary" type="submit" id="paymentSubmit">Submit</button>
							</div>
							<div class="col-12 text-right warning-color mt-3">
								<p>Your card will be charged ${{ cart_total }}</p>
							</div>
							<div class="col-12 text-right warning-color mt-3">
								<p>Stripe is in test mode - it will not accept or charge real cards. See <a href="https://stripe.com/docs/testing#use-test-cards">here</a> for test payment info.</p>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</main>
{% include 'components/loading-spinner.html' %}

{% endblock content %}
{% block extra_scripts %}
{{ stripe_public_key|json_script:"id_stripe_public_key"}}
{{ client_secret|json_script:"id_client_secret"}}
<script src="{% static 'checkout/js/scripts.js' %}"></script>
{% endblock extra_scripts %}
