{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="card">
	<div class="card-body">
		<div class="col-12 col-md-6 order-md-first pb-3">
			<h4 class="card-title text-uppercase">{{ product.name }}</h4>
		</div>
		{% for review in reviews %}
		<div class="row pb-3">
			<div class="col-12">
				<p>{{ review.user_profile|capfirst }} -</p>
				<p class="font-italic">"{{ review.review_content }}"</p>
			</div>
		</div>
		{% endfor %}

		<div class="row justify-content-between">
			<div class="col-6 col-md-4">
				<a href="{% url 'product_detail' product.id %}"><button
						class="btn button-primary-outline ">Back</button></a>
			</div>
			<div class="col-6 col-md-4 text-right">
				<a href=""></a><button class="btn button-secondary-outline">Buy</button></a>
			</div>
		</div>
	</div>
</div>



{% endblock content %}
