{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row d-lg-none">
	<div class="col-4 text-right">
		<a href="#implant">Implants</a>
	</div>
	<div class="col-4 text-center">
		<a href="#app">Apps</a>
	</div>
	<div class="col-4">
		<a href="#upgrade">Upgrades</a>
	</div>
</div>

<div class="d-lg-none">
	{% for category in categories %}
	<div id="{{ category.name }}">
		{% for product in products %}
		{% if product.category.name == category.name %}
		<div class="col-12">
			{% include 'components/product-card.html' %}
		</div>
		{% endif %}
		{% endfor %}
	</div>
	{% endfor %}
</div>
<div class="d-none d-lg-block">
	<div class="row">
		{% for product in products %}
		<div class="col-6">
			{% include 'components/product-card.html' %}
		</div>
		{% endfor %}
	</div>

</div>

{% endblock content %}
