{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="card">
	<img class="card-img-top" src="{{ product.image_url }}" class="mx-auto d-block img-fluid" alt="{{ product.name }}">
	<div class="card-body">
		<div class="col-12 col-md-6 order-md-first pb-3">
			<h4 class="card-title text-uppercase">{{ product.name }}</h4>
			<p>{{ product.description }}</p>
		</div>
		<div>
			<img class="img-fluid" src="/media/images/border-circuit03.png" alt="">
			<div class="row">
				<p class="col-6 text-capitalize">Type: {{ product.category }}</p>
				<p class="col-6 text-right">Price: {{ product.price }}</p>
			</div>
			<div class="row justify-content-between mb-4">
				<div class="col-6 col-md-4">
					<a href="{% url 'products' %}"><button class="btn button-primary-outline ">Back</button></a>
				</div>
				<div class="col-6 col-md-4 text-right">
					<a href=""></a><button class="btn button-secondary-outline">Buy</button></a>
				</div>
			</div>
			{% if review != "" %}
			{% include 'components/review-body.html' %}
			<div class="row mb-4">
				<div class="col-10 offset-1">
					<a href="{% url 'product_reviews' product.id %}">All reviews</a>
				</div>
			</div>
			{% else %}
			<div class="row mb-4">
				<div class="col-10 offset-1">
					<p>No reviews - <a href="">create one</a></p>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</div>



{% endblock content %}
