@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap");
@font-face {
  font-family: "elianto";
  src: url("/static/fonts/elianto-regular-webfont.woff2") format("woff2"), url("/static/fonts/elianto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  background-color: #1F1F1F;
}

button {
  outline: none !important;
  box-shadow: none !important;
  border: none;
}

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
}

a {
  color: #00C2CE !important;
}
a:hover {
  color: #00929b !important;
}

.btn {
  border-radius: 0 !important;
}

h1, h2, h3, h4 {
  font-family: "elianto";
}

h1 {
  font-size: 3rem;
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 5rem;
  }
}

h3 {
  font-size: 2.5rem;
}
@media only screen and (min-width: 768px) {
  h3 {
    font-size: 4rem;
  }
}

h4 {
  font-size: 2rem;
}
@media only screen and (min-width: 768px) {
  h4 {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 992px) {
  h4 {
    font-size: 3rem;
  }
}

.bg-grey-alpha-half {
  background-color: rgba(61, 61, 61, 0.5);
}

.dropdown-item {
  font-weight: 300;
}
.dropdown-item:hover {
  background: rgba(87, 87, 87, 0.5);
}

.nav-logo {
  content: url("/media/images/mobile/nav-logo.png");
}
@media only screen and (min-width: 992px) {
  .nav-logo {
    content: url("/media/images/desktop/nav-logo.png");
  }
}

.navbar-toggler {
  color: #FFFFFF;
  font-size: 3.5rem;
}

.nav-link,
.dropdown-item {
  font-size: 2rem;
}

.footer {
  background: #3D3D3D;
}

.button-secondary-outline, .button-secondary, .button-primary-outline, .button-primary {
  width: 200px;
  height: 50px;
  color: #FFFFFF;
  font-size: 2rem;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .button-secondary-outline, .button-secondary, .button-primary-outline, .button-primary {
    width: 220px;
  }
}

.button-primary {
  background-color: #00C2CE;
}
.button-primary:hover {
  background-color: #00929b;
  color: #FFFFFF;
}

.button-primary-outline {
  background-color: #1F1F1F;
  border: 1px solid #00C2CE;
}
.button-primary-outline:hover {
  color: #00C2CE;
}

.button-secondary {
  background-color: #D76EE5;
}
.button-secondary:hover {
  background-color: #cb43dd;
  color: #FFFFFF;
}

.button-secondary-outline {
  background-color: #1F1F1F;
  border: 1px solid #D76EE5;
}
.button-secondary-outline:hover {
  color: #D76EE5;
}

.button__small {
  width: 120px;
  height: 40px;
  font-size: 1.6rem;
}

.form__wrapper h1 {
  text-transform: uppercase;
}
.form__wrapper h2 {
  margin-top: 1rem;
}
.form__wrapper p {
  margin-top: 0.5rem;
}
.form__wrapper input {
  border-radius: 0;
  box-sizing: unset;
  border: 0;
  font-size: 1.4rem;
}

.card {
  background: #474747;
  margin-bottom: 3rem;
}

.card-body {
  padding: 1rem;
}

.main__wrapper {
  padding-top: 13vh;
  min-height: 95vh;
}

.body-index {
  background: url("/media/images/background.jpg") no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.index-title__wrapper {
  height: 50vh;
}
.index-title__wrapper img {
  content: url("/media/images/mobile/index-title.png");
}
@media only screen and (min-width: 992px) {
  .index-title__wrapper img {
    content: url("/media/images/desktop/index-title.png");
  }
}

/*# sourceMappingURL=styles.css.map */
