{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="container-fluid main__wrapper">
	<div class="card">
		<div class="card-header">
			<h3>Booking Details</h3>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-12 col-lg-8 offset-lg-2">
					<h4 class="mb-3">Booking for {{ booking_item }}</h4>
					{% if booking.booking_time %}
					<p>Your booking is at {{ booking.booking_time|date:"H:i" }} on
						{{ booking.booking_date|date:"D, d M, Y" }}</p>
					{% else %}
					<p class="mb-3">We offer bookings up to one month in advance. Our available times are between 09:00
						and 15:00
						every weekday.</p>
					<p>Please make a selection</p>
					{% endif %}
				</div>
				<div class="col-12 col-lg-8 offset-lg-2 mt-3">
					<form action="{% url 'create_booking' booking.order %}" method="POST"
						class="{% if booking.booking_time %}d-none{% endif %}" id="bookingForm">
						{% csrf_token %}
						{{ form.booking_date | as_crispy_field }}
						<p class="error-color mb-2" id="errorMessage"></p>
						{{ form.booking_time | as_crispy_field }}
						<div class="row booking-times__wrapper mb-5 d-none">
							<div class="col-4 text-center">
								<button class="btn button-primary button-booking-time" id="09" type="button"
									disabled>09:00</button>
							</div>
							<div class="col-4 text-center">
								<button class="btn button-primary button-booking-time" id="12" type="button"
									disabled>12:00</button>
							</div>
							<div class="col-4 text-center">
								<button class="btn button-primary button-booking-time" id="15" type="button"
									disabled>15:00</button>
							</div>
							<div class="col-12 pt-3">
								<p id="bookingErrors"></p>
							</div>
						</div>
						<div class="row">
							<div class="col-4">
								<button
									class="btn button-primary-outline button__small {% if not booking.booking_time %}d-none{% endif %}"
									type="button" id="cancelChangeBookingButton"><i
										class="fas fa-angle-double-left"></i></button>
							</div>
							<div class="col-8 text-right">
								<button class="btn button-secondary-outline button__small" id="bookingSubmitButton"
									type="submit" disabled>Submit</button>
							</div>
						</div>
					</form>
					{% if booking.booking_time %}
					<div class="col-12 col-lg-8 offset-lg-4 text-right pr-0 mt-4">
						<button class="btn button-secondary-outline button__small" type="button"
							id="changeBookingButton">Change Booking</button>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock content %}
{% block extra_scripts %}
<script src="{% static 'bookings/js/scripts.js' %}"></script>
{% endblock extra_scripts %}
