%button {
  width: 200px;
  height: 50px;
  color: $white;
  font-size: 2rem;
  text-transform: uppercase;
  @include breakpoint(md) {
    width: 220px;
  }
}

.button-primary {
  @extend %button;
  background-color: $primary-color;
  &:hover {
    background-color: darken($primary-color, 10%);
    color: $white;
  }
}

.button-primary-outline {
  @extend %button;
  background-color: $darkgrey;
  border: 1px solid $primary-color;
  &:hover {
    color: $primary-color;
  }
}

.button-secondary {
  @extend %button;
  background-color: $secondary-color;
  &:hover {
    background-color: darken($secondary-color, 10%);
    color: $white;
  }
}

.button-secondary-outline {
  @extend %button;
  background-color: $darkgrey;
  border: 1px solid $secondary-color;
  &:hover {
    color: $secondary-color;
  }
}

.button__small {
  width: 120px;
  height: 40px;
  font-size: 1.6rem;
}
