%button {
  width: 90%;
  height: 40px;
  color: $white;
  font-size: 1.6rem;
  text-transform: uppercase;
  box-shadow: $box-shadow-black;
  line-height: 1.9;
}

.button__large {
  width: 100%;
  height: 50px;
  font-size: 2rem;

  @include breakpoint(lg) {
    width: 80%;
  }
}

.button__small {
  width: 75%;
  height: 35px;
  font-size: 1.4rem;
}

.button-primary {
  @extend %button;
  background-color: $primary-color;

  &:hover {
    background-color: darken($primary-color, 10%);
    color: $white;
  }
}

.button-primary-outline {
  @extend %button;
  background-color: $darkgrey;
  border: 1px solid $primary-color;

  &:hover {
    background-color: lighten($darkgrey, 5%);
    color: $primary-color;
  }
}

.button-secondary {
  @extend %button;
  background-color: $secondary-color;

  &:hover {
    background-color: darken($secondary-color, 10%);
    color: $white;
  }
}

.button-secondary-outline {
  @extend %button;
  background-color: $darkgrey;
  border: 1px solid $secondary-color;

  &:hover {
    background-color: lighten($darkgrey, 5%);
    color: $secondary-color;
  }
}
