.form__wrapper {
  h1 {
    text-transform: uppercase;
  }

  h2 {
    margin-top: 1rem;
  }

  p {
    margin-top: 0.5rem;
  }

  input {
    border-radius: 0;
    box-sizing: unset;
    border: 0;
    font-size: 1.4rem;
  }
}

.review-form__wrapper {

  >form {
    width: 100%;
  }

  label {
    display: none;
  }

  i {
    font-size: 2.5rem;
  }

  a {
    color: $white;
  }
}

.review-form-textarea {
  border: 0;
  border-radius: 0;

  &.form-control {
    font-size: 1.6rem;
    font-weight: 300;
  }

  &:disabled {
    background-color: $lightgrey;
    color: $white;
    font-style: italic;
    resize: none;
  }
}
