.navbar-top__wrapper {
  background: $grey;
}

.dropdown-menu {
  border-radius: 0;
  background-color: $grey;
}

.dropdown-item {
  font-weight: 300;
  color: $primary-color;

  &:hover {
    background: lighten($grey-alpha-half, 10%);
  }
}

.nav-logo {
  content: url('/media/images/mobile/nav-logo.png');

  @include breakpoint(lg) {
    content: url('/media/images/desktop/nav-logo.png');
  }
}

.navbar-toggler {
  color: $white;
  font-size: 3.5rem;
  box-shadow: none;
}

.nav-link,
.dropdown-item {
  font-size: 2rem;
}
