.navbar-top__wrapper,
.dropdown-menu, {
  background: $grey-alpha-half;
}

.dropdown-item:hover {
  background: lighten($grey-alpha-half, 10%);
}

.nav-logo {
  content: url('/media/images/mobile/nav-logo.png');
  @include breakpoint(lg) {
    content: url('/media/images/desktop/nav-logo.png');
  }
}

.navbar-toggler {
  color: $white;
  font-size: 3.5rem;
}

.nav-link,
.dropdown-item {
  font-size: 2rem;
}
