.navbar-top__wrapper {
  background: $grey-alpha-half;
}

.nav-logo {
  content: url('/media/images/mobile/nav-logo.png');
  @include breakpoint(lg) {
    content: url('/media/images/desktop/nav-logo.png');
  }
}

.navbar-toggler {
  color: $white;
  font-size: 3.5rem;
}

.nav-link {
  font-size: 2rem;
}
