.toast {
  z-index: 1020;
  border: 0;
  border-radius: 0;
  position: fixed;
  top: 65px;
  right: 5px;

  @include breakpoint(lg) {
    top: 100px;
  }
}

.toast-close {
  font-size: 2.7rem;
  position: absolute;
  right: 1px;
  top: 1px;
}

.toast-header {
  background-color: $lightgrey;
  border: 0;

  img {
    max-width: 310px;
  }
}

.toast-body {
  background-color: $lightgrey;
  padding: .6rem;
  font-size: 1.6rem;

  @include breakpoint(lg) {
    font-size: 2rem;
  }
}

.toast-decorator {
  height: 2px;
}
