@font-face {
  font-family: 'elianto';
  src: url('/static/fonts/elianto-regular-webfont.woff2') format('woff2'),
  url('/static/fonts/elianto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
