// colours
$primary-color: #00C2CE;
$secondary-color: #E032E6;
$tertiary-color: #F22CA6;
$white: #FFFFFF;
$black: #000000;
$darkgrey: #1F1F1F;
$grey: #3D3D3D;
$grey-alpha-half: rgba(61, 61, 61, 0.5);
$warning-color: #FC440F;
$error-color: #FF0033;
$success-color: #00FF00;
$info-color: #F2EA02;
