{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="container-fliud main__wrapper">
	<div class="card">
		<div class="card-header">
			<h3>About Us</h3>
		</div>
		<div class="card-body">
			<p>Yggradisil Labs is a cutting-edge biotech company dedicated to upgrading humanity through cybernetic
				technology.
			</p>
			<p class="my-3">We provide transhuman enhancements through implants and apps designed to level up your
				body, mind and
				abilities.</p>
			<p class="mb-3">Our state-of-the-art facilities (pictured behind) are where you will visit for any implant
				surgery.</p>
			<p>Whether you’re a cyberpunk aficionado or a Silicon Valley head honcho, we can provide the tools to
				unlock your true potential.</p>
		</div>
	</div>
</main>
{% endblock content %}
