{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="card">
	<div class="card-header">
		<h3>About Us</h3>
	</div>
	<div class="card-body">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio itaque, alias architecto dolorem rem
			dolorum nam nostrum quis, numquam quo ea eveniet nesciunt amet inventore officia optio temporibus
			praesentium. Minus voluptates quisquam eum. Vitae nesciunt explicabo ullam incidunt, voluptatibus qui sequi
			nam ea dolorem veniam illum modi fuga libero natus.</p>
	</div>
</div>
{% endblock content %}
