{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="container-fliud main__wrapper">
	<div class="card bg-grey-alpha-half">
		<div class="card-header">
			<h3>About Us</h3>
		</div>
		<div class="card-body">
			<p>Welcome to Yggdrasil labs, the preeminent provider of cybernetic implants and software solutions that revolutionize the way people live and work. We are passionate about creating cutting-edge implants and software solutions that empower people to thrive in the digital age. Our mission is to shape a better future for humanity by providing people with the tools and skills they need to unleash their full potential.</p>
			<p class="my-3">As the world undergoes rapid change, we firmly believe that technology should evolve in tandem, striving to create a better future for all. To that end, we've assembled a team of the brightest minds in science, engineering, and design to develop the most advanced cybernetic implants and software solutions on the market. At Yggdrasil labs, we believe that cybernetics is more than a technology. It is also a philosophy. We envision a world where humans and machines can coexist harmoniously, where diversity and creativity are celebrated, and where everyone can reach their full potential. We invite you to join us in this journey of exploration and innovation.</p>
			<p class="mb-3"></p>
			<p>As we look to the future, we are excited about the role that our technology will play in shaping it. With our state-of-the-art cybernetic implants and software solutions, we aspire to create a world where humans can not only survive but thrive. Join us on this thrilling journey of discovery and transformation, as we strive to unlock the full potential of humanity.</p>
		</div>
	</div>
</main>
{% endblock content %}
