{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="container-fluid index-main__wrapper">
	<div class="row index-title__wrapper">
		<div class="col-12 mt-auto">
			<img class="mx-auto d-block" alt="Yggdrasil">
		</div>
	</div>
	<div class="row mt-4">
		<div class="col-12 text-center">
			<h1>Transhuman Solutions</h1>
		</div>
	</div>
	<div class="row mt-5">
		<div class="col-10 col-sm-6 col-lg-5 col-xl-4 offset-sm-0 d-flex mx-auto mb-4">
			<div class="text-center my-auto">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi eaque quasi itaque impedit, non
					dolores ex velit iure modi obcaecati maiores, iste totam et similique ab dolorem voluptatem?</p>
			</div>
		</div>
		<div class="d-none d-xl-block col-xl-1"></div>
		<div class="col-12 col-sm-6 col-lg-7 mx-auto mt-3 order-sm-first">
			<div class="index-featured">
				{% for product in products %}
				<div>
					{% include 'pages/components/featured-product.html' %}
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="row mt-4 py-3">
		<div class="col-12">
			<h4 class="text-center">What people are saying...</h4>
		</div>
		<div class="col-10 col-md-7 pt-3 mx-auto">
			<div class="index-social-proof">
				<div>
					<p>Great products, reliable company. What more could you ask for? <span class="font-italic">- Evil
							Corp.</span></p>
				</div>
				<div>
					<p>We have worked closely with Yggdrasil Labs for some time and plan to continue our partnership
						<span class="font-italic">- Kiroshi Optics</span></p>
				</div>
				<div>
					<p>Our company upgraded our whole workforce with Yggdrasil's products and we have seen a major
						increase in productivity! <span class="font-italic">- Delos Incorporated</span></p>
				</div>
			</div>
		</div>
	</div>
	<div class="row index-social-links my-5">
		<div class="col-12 mx-auto text-center">
			<a href=""><i class="fab fa-facebook-square ml-2"></i></a>
			<a href=""><i class="fab fa-instagram mx-2"></i></a>
			<a href=""><i class="fab fa-twitter-square mx-2"></i></a>
			<a href=""><i class="fab fa-app-store-ios mx-2"></i></a>
			<a href=""><i class="fab fa-google-play mr-2"></i></a>
		</div>
	</div>
</main>
{% endblock content %}
