{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="container-fluid">
	<div class="row index-title__wrapper">
		<div class="col-12 mt-auto">
			<img class="mx-auto d-block" alt="Yggdrasil">
		</div>
	</div>
	<div class="row mt-4">
		<div class="col-12 text-center">
			<h1>Transhuman Solutions</h1>
		</div>
		<div class="col-8 offset-2 col-sm-4 text-center">
			{% if request.user.is_authenticated %}
			<a href="{% url 'profile' %}"><button class="btn button-primary button__large mb-4"
					type="button">Dashboard</button></a>
			{% else %}
			<a href="{% url 'account_login' %}"><button class="btn button-primary button__large mb-4"
					type="button">Login</button></a>
			{% endif %}
		</div>
		<div class="col-8 offset-2 col-sm-4 offset-sm-0 text-center">
			<a href="{% url 'products' %}"><button class="btn button-secondary-outline button__large"
					type="button">Products</button></a>
		</div>
	</div>
</main>
{% endblock content %}
