{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="container-fliud main__wrapper">
	<div class="card">
		<div class="card-body">
			<p>Error: 500 | Server error. If the problem continues please <a href="{% url 'contact' %}">contact us</a>
				for
				assistance.</p>
			<p>If you are seeing this error when first visiting this site, please refresh. This site is using free hosting and the database may not have been available, but it should be now.</p>
		</div>
	</div>
</main>
{% endblock content %}
