{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	{% include 'components/head.html' %}
	<title>{% if request.path != '/' %}{{ page_title }} | {% endif %}Yggdrasil Labs</title>
</head>

<body {% if request.path == '/' %}class="body-index" {% endif %}>
	{% include 'components/header.html' %}

	<main class="container-fluid {% if request.path != '/' %}main__wrapper{% endif %}">
		{% block content %}
		{% endblock content %}
	</main>

	{% if messages %}
	{% for message in messages %}
	{% with message.level as level %}
	{% if level == 40 %}
	{% include 'components/toasts/toast-error.html' %}
	{% elif level == 30 %}
	{% include 'components/toasts/toast-warning.html' %}
	{% elif level == 25 %}
	{% include 'components/toasts/toast-success.html' %}
	{% else %}
	{% include 'components/toasts/toast-info.html' %}
	{% endif %}
	{% endwith %}

	{% endfor %}
	{% endif %}

	{% if request.path != '/' %}
	{% include 'components/footer.html' %}
	{% endif %}
	{% include 'components/scripts.html' %}
	{% block extra_scripts %}
	{% endblock extra_scripts %}
</body>

</html>
