{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	{% include 'components/head.html' %}
	<title>{% if page_title %}{{ page_title }} | {% endif %}Yggdrasil Labs</title>
</head>

<body class="{{ body_class }}">
	{% include 'components/header.html' %}

	{% block content %}
	{% endblock content %}

	{% if messages %}
	<div class="messages__wrapper">
		{% for message in messages %}
		{% if not "cart_remove" in message.tags  %}
		{% with message.level as level %}
		{% if level == 40 %}
		{% include 'components/toasts/toast-error.html' %}
		{% elif level == 30 %}
		{% include 'components/toasts/toast-warning.html' %}
		{% elif level == 25 %}
		{% include 'components/toasts/toast-success.html' %}
		{% else %}
		{% include 'components/toasts/toast-info.html' %}
		{% endif %}
		{% endwith %}
		{% endif %}
		{% endfor %}
	</div>
	{% endif %}

	{% include 'components/footer.html' %}
	{% include 'components/scripts.html' %}
	{% block extra_scripts %}
	{% endblock extra_scripts %}
</body>

</html>
