<header>
	<nav class="navbar navbar-expand-lg fixed-top navbar-top__wrapper">
		<a class="navbar-brand" href="{% url 'index' %}">
			<img src="/static/images/mobile/nav-logo.png" class="nav-logo__sm d-lg-none" alt="Yggdrasil">
			<img src="/static/images/desktop/nav-logo.png" class="nav-logo__lg d-none d-lg-inline-block"
				alt="Yggdrasil">
		</a>
		<div class="nav-icon-cart d-lg-none"><a href="{% url 'view_cart' %}"><i
					class="fas fa-shopping-cart position-relative"><span
						class="badge-custom {% if cart_number == 0 %}d-none{% endif %}">{% if cart_number > 0 %}{{ cart_number }}{% endif %}</span></i></a>
		</div>
		<button class="navbar-toggler mt-auto" type="button" data-toggle="collapse" data-target="#navbarToggler"
			aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
			<i class="fas fa-bars"></i>
		</button>
		<div class="collapse navbar-collapse flex-row-reverse" id="navbarToggler">
			<ul class="navbar-nav text-center text-uppercase mr-lg-4">
				<li class="nav-item my-auto {% if request.path == '/' %}nav-link-active{% endif %}">
					<a class="nav-link" href="{% url 'index' %}">Home{% if request.path == '/' %}<span
							class="sr-only">(current)</span>{% endif %}</a>
				</li>
				<li class="nav-item my-auto {% if request.path == '/products/' %}nav-link-active{% endif %}">
					<a class="nav-link" href="{% url 'products' %}">Products{% if request.path == '/products/' %}<span
							class="sr-only">(current)</span>{% endif %}</a>
				</li>
				<li class="nav-item my-auto {% if request.path == '/about/' %}nav-link-active{% endif %}">
					<a class="nav-link" href="{% url 'about' %}">About{% if request.path == '/about/' %}<span
							class="sr-only">(current)</span>{% endif %}</a>
				</li>
				<li class="nav-item my-auto {% if request.path == '/contact/' %}nav-link-active{% endif %}">
					<a class="nav-link" href="{% url 'contact' %}">Contact{% if request.path == '/contact/' %}<span
							class="sr-only">(current)</span>{% endif %}</a>
				</li>
				{% if request.user.is_authenticated %}
				<li
					class="nav-item my-auto dropdown d-none d-lg-block {% if request.path == '/profile/' %}nav-link-active{% endif %}">
					<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						{% if request.path == '/profile/' %}<span class="sr-only">(current)</span>{% endif %}Account
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="{% url 'profile' %}">Dashboard</a>
						<a class="dropdown-item" href="{% url 'profile' %}#support">Tech Support</a>
						<a class="dropdown-item" href="{% url 'profile' %}#bookings">Bookings</a>
						<a class="dropdown-item" href="{% url 'profile' %}#orders">Order History</a>
						<a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
					</div>
				</li>
				<li class="nav-item d-lg-none">
					<a class="nav-link" href="{% url 'profile' %}">Dashboard{% if request.path == '/profile/' %}<span
							class="sr-only">(current)</span>{% endif %}</a>
				</li>
				<li class="nav-item d-lg-none">
					<a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
				</li>
				{% else %}
				<li class="nav-item my-auto">
					<a class="nav-link"
						href="{% url 'account_login' %}">Login{% if request.path == '/accounts/login/' %}<span
							class="sr-only">(current)</span>{% endif %}</a>
				</li>
				{% endif %}
				<li class="nav-item d-none d-lg-flex">
					<div class="nav-icon-cart"><a class="nav-link" href="{% url 'view_cart' %}"><i
								class="fas fa-shopping-cart position-relative"><span
									class="badge-custom {% if cart_number == 0 %}d-none{% endif %}">{% if cart_number > 0 %}{{ cart_number }}{% endif %}</span></i></a>
					</div>
				</li>
			</ul>
		</div>
	</nav>
</header>
