<div class="card">
	<img class="card-img-top" src="{{ product.image_url }}" class="mx-auto d-block img-fluid" alt="{{ product.name }}">
	<div class="card-body">
		<h3 class="card-title text-center text-uppercase">{{ product.name }}</h3>
		<div class="row">
			<div class="col-6">
				<p class="card-text text-left">Type: {{ product.category }}</p>
			</div>
			<div class="col-6">
				<p class="card-text text-right">Price: ${{ product.price }}</p>
			</div>
		</div>
		<div class="row justify-content-between">
			<div class="col-6 col-md-4">
				<a href="{% url 'product_detail' product.id %}" class="btn button-primary-outline button__small">Details</a>
			</div>
			<div class="col-6 col-md-4 text-right">
				<button class="btn button-secondary-outline button__small">Buy</button>
			</div>
			
		</div>


	</div>
</div>
