<div class="card">
	<img class="card-img-top" src="{{ product.image_url }}" class="mx-auto d-block img-fluid" alt="{{ product.name }}">
	<div class="card-body">
		<h3 class="card-title text-center text-uppercase">{{ product.name }}</h3>
		<div class="row">
			<div class="col-6">
				<p class="card-text text-left text-capitalize">Type: {{ product.category }}</p>
			</div>
			<div class="col-6">
				<p class="card-text text-right">Price: ${{ product.price }}</p>
			</div>
		</div>
		<div class="row justify-content-between">
			<div class="col-6">
				<a href="{% url 'product_detail' product.id %}"><button
						class="btn button-primary-outline">Details</button></a>
			</div>
			<div class="col-6 text-right">
				<a href=""></a><button class="btn button-secondary-outline">Buy</button></a>
			</div>
		</div>
	</div>
</div>
